header {
    font-size: large;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.photo {
    width: 300px;
    height: 300px;
}